/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../img/fundo.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main {
  flex: 1;
  padding: 50px 20px;
}

.logo {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: #fc9dc4;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed; /* Adicionado */
  top: 0; /* Adicionado */
  z-index: 1000;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li:first-child {
  margin-left: 0;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #fff; /* Garantir que, ao passar o mouse, a cor permaneça branca */
}

header nav ul li a:focus,
header nav ul li a:active {
  color: #fff;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

footer a {
  color: #fc9dc4;
  margin: 0 10px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    align-items: center;
  }
}
